<div class="login">
  <div *ngIf="userData as user">

    <!-- <button class="button is-info" (click)="cs.create(user.uid)">Create New Chat</button>

    <hr>
    <h3>My Doctors</h3> -->

    <div class="each-doctor left" *ngFor="let doctor of doctors$ | async">
      <div>
        <img class="profile-pic-doc" src="{{doctor.photoURL}}" alt="Slow net" width=100px height = 100px style="margin-top: 20px;">
      </div>
      <div class="doctor-details">
        <table>
          <tr>
            <td> [Name] </td>
            <td> {{doctor.displayName}} </td>
          </tr>
          <tr>
              <td> [Expertise] </td>
              <td> {{doctor.expertise}} </td>
            </tr>
          <tr>
              <td> [Rate] </td>
              <td> {{doctor.rate}} </td>
            </tr>
        </table>
        <!-- <p><span>[Name] </span>  </p> 
        <p><span>[Rate] </span> {{doctor.rate}}</p> -->
        <div>
            <div style="text-align: center; margin-top: 20%;">
                <button class="special-button">Chat</button>
      
              </div>
        </div>
      </div>
      
    </div>
    <!-- 
    <h3>My Chats</h3>

    <ul>
      <li *ngFor="let chat of userChats$ | async">
        <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
      </li>
    </ul> -->
  </div>

</div>